<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dukmyo3cc/image/upload/v1677254345/samples/ecommerce/car-interior-design.jpg);">
  <div class="container">
    <h1>Book your favourite cars!!</h1>
    <%= link_to "Book a car now!", class: "btn btn-flat" %>
  </div>
<div class="cards">
  <% @cars.each do |car| %>
    <div class="card-category">
      <%= car.model  %>
      <%= car.photo %>
    </div>
  <%end  %>
</div>
