<div class="banner">
  <div class="video-container">
    <%= video_tag "car.mp4", autoplay: true, loop: true %>
    <div class="caption">
      <h1>Book your favourite cars!</h1>
      <%= link_to "Rent a car now!", cars_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
<div class="container">
  <h2>Meet the Sexy Cars Hire Fleet</h2>
  <p> Your new best friends</p>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row m-0">
        <div class="col-4 ps-0">
          <img src="https://res.cloudinary.com/dukmyo3cc/image/upload/v1677686696/production/m2nnnqoqxwau6vzb3i5opoluumo9.jpg" class="d-block w-100 home-img" alt="...">
        </div>
        <div class="col-4 pe-0">
          <img src="https://res.cloudinary.com/dukmyo3cc/image/upload/v1677756898/2-exp-100-gt_g3se5s.jpg" class="d-block w-100 home-img" alt="...">
        </div>
        <div class="col-4 pe-0">
          <img src="https://res.cloudinary.com/dukmyo3cc/image/upload/v1677686677/production/prjkbq67vlsouz8bbh3wkfek95rp.jpg" class="d-block w-100 home-img" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row m-0">
        <div class="col-4 ps-0">
          <img src="https://res.cloudinary.com/dukmyo3cc/image/upload/v1677683424/development/ne3yreawc9q08sbh3yy9ct0pr16x.webp" class="d-block w-100 home-img" alt="...">
        </div>
        <div class="col-4 pe-0">
          <img src="https://res.cloudinary.com/dukmyo3cc/image/upload/v1677686642/production/mg6igq5yl6b7aa9rf3n7m38kypqn.webp" class="d-block w-100 home-img" alt="...">
        </div>
        <div class="col-4 pe-0">
          <img src="https://res.cloudinary.com/dukmyo3cc/image/upload/v1677683145/development/zprp921s1twf7u913dt3o8guhm9k.jpg" class="d-block w-100 home-img" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row m-0">
        <div class="col-4 ps-0">
          <img src="https://res.cloudinary.com/dukmyo3cc/image/upload/v1677676636/Hennessey_20Venom_20F5_gtwpq5.jpg" class="d-block w-100 home-img" alt="...">
        </div>
        <div class="col-4 pe-0">
          <img src="https://res.cloudinary.com/dukmyo3cc/image/upload/v1677676309/development/mbm6zpoxn5ev9r610zveybw44l67.jpg" class="d-block w-100 home-img" alt="...">
        </div>
        <div class="col-4 pe-0">
          <img src="https://res.cloudinary.com/dukmyo3cc/image/upload/v1677686372/production/gwh2b2ulrf0ei0zztu2mb9mqe43n.webp" class="d-block w-100 home-img" alt="...">
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
