<div class=container>
<h1>Sexy cars to rent!</h1>
</div>
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-product">
        <%= cl_image_tag car.photo.key, height: 300, width: 600, crop: :fit %>
        <div class="card-product-infos">
          <h2> <%= link_to car.model, car_path(car), class: "" %> </h2>
        </div>
      </div>
    <%end  %>
  </div>
