<h1>Add a new Car<h1>
<div class="container">
  <div class="rendered-form">
      <div class="formbuilder-text form-group field-text-1677599389630">
          <label for="text-1677599389630" class="formbuilder-text-label">Make and Model
              <br>
          </label>
          <input type="text" class="form-control" name="text-1677599389630" access="false" id="text-1677599389630">
      </div>
      <div class="formbuilder-text form-group field-text-1677599392559">
          <label for="text-1677599392559" class="formbuilder-text-label">Number of Seats
              <br>
          </label>
          <input type="text" class="form-control" name="text-1677599392559" access="false" id="text-1677599392559">
      </div>
      <div class="formbuilder-text form-group field-text-1677599511865">
          <label for="text-1677599511865" class="formbuilder-text-label">Colour
              <br>
          </label>
          <input type="text" class="form-control" name="text-1677599511865" access="false" id="text-1677599511865">
      </div>
      <div class="formbuilder-select form-group field-select-1677599590984">
          <label for="select-1677599590984" class="formbuilder-select-label">Select</label>
          <select class="form-control" name="select-1677599590984" id="select-1677599590984">
              <option value="Petrol" selected="true" id="select-1677599590984-0">Petrol</option>
              <option value="Diesel" id="select-1677599590984-1">Diesel</option>
              <option value="Electric" id="select-1677599590984-2">Electric</option>
              <option id="select-1677599590984-3">Hybrid</option>
          </select>
      </div>
      <div class="formbuilder-file form-group field-file-1677600149948">
          <label for="file-1677600149948" class="formbuilder-file-label">Photo
              <br>
          </label>
          <input type="file" class="form-control" name="file-1677600149948" access="false" multiple="false" id="file-1677600149948">
      </div>
      <div class="formbuilder-button form-group field-button-1677596796185">
          <button type="submit" class="btn-success btn" name="button-1677596796185" access="false" style="success" id="button-1677596796185">Submit
              <br>
          </button>
      </div>
  </div>
</div>
